# Primeiro dia

- unificar em um único Dataframe todos os dados pertinentes para a análise
- Limpar dados diplicados e nulos

In [1]:
# imports

import pandas as pd

In [3]:
# leitura dos dados

tabela_1 = pd.read_csv("./datasets/dados_emprestimos/emprestimos-20101.csv")
tabela_2 = pd.read_csv("./datasets/dados_emprestimos/emprestimos-20102.csv")
tabela_3 = pd.read_csv("./datasets/dados_emprestimos/emprestimos-20111.csv")
tabela_4 = pd.read_csv("./datasets/dados_emprestimos/emprestimos-20112.csv")
tabela_5 = pd.read_csv("./datasets/dados_emprestimos/emprestimos-20121.csv")
tabela_6 = pd.read_csv("./datasets/dados_emprestimos/emprestimos-20122.csv")
tabela_7 = pd.read_csv("./datasets/dados_emprestimos/emprestimos-20131.csv")
tabela_8 = pd.read_csv("./datasets/dados_emprestimos/emprestimos-20132.csv")
tabela_9 = pd.read_csv("./datasets/dados_emprestimos/emprestimos-20141.csv")
tabela_10 = pd.read_csv("./datasets/dados_emprestimos/emprestimos-20142.csv")
tabela_11 = pd.read_csv("./datasets/dados_emprestimos/emprestimos-20151.csv")
tabela_12 = pd.read_csv("./datasets/dados_emprestimos/emprestimos-20152.csv")
tabela_13 = pd.read_csv("./datasets/dados_emprestimos/emprestimos-20161.csv")
tabela_14 = pd.read_csv("./datasets/dados_emprestimos/emprestimos-20162.csv")
tabela_15 = pd.read_csv("./datasets/dados_emprestimos/emprestimos-20171.csv")
tabela_16 = pd.read_csv("./datasets/dados_emprestimos/emprestimos-20172.csv")
tabela_17 = pd.read_csv("./datasets/dados_emprestimos/emprestimos-20181.csv")
tabela_18 = pd.read_csv("./datasets/dados_emprestimos/emprestimos-20182.csv")
tabela_19 = pd.read_csv("./datasets/dados_emprestimos/emprestimos-20191.csv")
tabela_20 = pd.read_csv("./datasets/dados_emprestimos/emprestimos-20192.csv")
tabela_21 = pd.read_csv("./datasets/dados_emprestimos/emprestimos-20201.csv")

In [4]:
lista_tabelas = [
    tabela_1,
    tabela_2,
    tabela_3,
    tabela_4,
    tabela_5,
    tabela_6,
    tabela_7,
    tabela_8,
    tabela_9,
    tabela_10,
    tabela_11,
    tabela_12,
    tabela_13,
    tabela_14,
    tabela_15,
    tabela_16,
    tabela_17,
    tabela_18,
    tabela_19,
    tabela_20,
    tabela_21,
]

In [6]:
dados = pd.concat(lista_tabelas, ignore_index=True)

In [7]:
dados

,id_emprestimo,codigo_barras,data_renovacao,data_emprestimo,data_devolucao,matricula_ou_siape,tipo_vinculo_usuario
0,709684,L095049,NaN,2010/01/04 07:44:10.721000000,2010/01/05 16:26:12.662000000,2.008023e+09,ALUNO DE GRADUAÇÃO
1,709685,L167050,NaN,2010/01/04 07:44:10.750000000,2010/01/12 07:34:13.934000000,2.008023e+09,ALUNO DE GRADUAÇÃO
2,709686,2006017618,2010/01/26 08:07:01.738000000,2010/01/04 08:08:44.081000000,2010/02/25 07:36:25.800000000,2.008112e+09,ALUNO DE PÓS-GRADUAÇÃO
3,709687,L184117,2010/01/18 11:07:46.470000000,2010/01/04 08:24:21.284000000,2010/02/03 08:58:45.692000000,2.007211e+08,ALUNO DE GRADUAÇÃO
4,709684,L095049,NaN,2010/01/04 07:44:10.721000000,2010/01/05 16:26:12.662000000,2.008023e+09,ALUNO DE GRADUAÇÃO
...,...,...,...,...,...,...,...
2258013,2989086,2008047044,NaN,2020/05/05 19:51:06.059000000,2021/05/13 14:53:31.000000000,3.067431e+06,SERVIDOR TÉCNICO-ADMINISTRATIVO
2258014,2989087,2008047047,NaN,2020/05/05 19:51:06.135000000,2021/05/13 14:53:38.000000000,3.067431e+06,SERVIDOR TÉCNICO-ADMINISTRATIVO
2258015,2989088,2010052905,NaN,2020/05/05 19:51:06.164000000,2021/05/13 15:01:46.000000000,3.067431e+06,SERVIDOR TÉCNICO-ADMINISTRATIVO
2258016,2989089,2010048023,NaN,2020/06/09 11:54:02.669000000,2021/07/21 15:33:55.000000000,2.020101e+10,ALUNO DE PÓS-GRADUAÇÃO
2258017,2989090,2013106838,NaN,2020/06/09 11:54:02.852000000,2021/07/21 15:33:45.000000000,2.020101e+10,ALUNO DE PÓS-GRADUAÇÃO

In [11]:
dados['id_emprestimo'][dados['id_emprestimo'].duplicated()].unique()

array([ 709684,  709685,  709686,  709687,  709698,  709704,  709705,
       2351375, 2351376, 2351377, 2351385, 2351386, 2351387, 2351388,
       2351389, 2351390, 2351391, 2351392, 2461092, 2461093, 2461094,
       2461095, 2461096, 2461097, 2461098, 2461099], dtype=int64)

In [12]:
dados['id_emprestimo'].isnull().sum()

0