## Dia 6

- calcular a quantidade de empréstimos realizados entre 2015 e 2020 por cada curso de graduação que passará pela avaliação.
- Cursos a serem avaliados:
    * Biblioteconomia
    * Ciências sociais
    * Comunicação social
    * Direito
    * Filosofia
    * Pedagogia
- Formato da tabela

Gerar uma tabela com as seguintes características:

Índice: Cursos
Colunas: Ano
Valores: Quantidade de empréstimos
Total: Acrescente uma linha e uma coluna de total a tabela

| Índice | Ano | Total |
|----------|----------|----------|
| Cursos | qtd de empréstimo  | Total de emprestimos  |

In [18]:
# imports

import pandas as pd

In [19]:
# lendo os arquivos tratados com os dados do alunos

data = pd.read_parquet('../datasets/dados_tratados/dados_emprestimos_com_alunos.parquet')
data.head()

,id_emprestimo,codigo_barras,data_renovacao,data_emprestimo,data_devolucao,matricula_ou_siape,tipo_vinculo_usuario,id_exemplar,colecao,biblioteca,status_material,localizacao,classificacao_cdu,curso
0,9405484,2011010806,2017-01-13 07:22:40.736,2017-01-02 08:01:14.113,2017-01-30 07:05:05,2014035816,ALUNO DE GRADUAÇÃO,915480,Acervo Circulante,Biblioteca Setorial Profª. Maria José Mamede G...,REGULAR,689,Ciências aplicadas,ENGENHARIA CIVIL
1,9405492,2010040100,2017-01-31 07:31:36.902,2017-01-02 08:29:46.722,2017-02-21 13:16:33,20161011168,ALUNO DE PÓS-GRADUAÇÃO,1051275,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,651,Ciências aplicadas,FILOSOFIA
2,9405496,2013105705,2017-01-31 07:31:36.843,2017-01-02 08:29:46.794,2017-02-21 13:15:46,20161011168,ALUNO DE PÓS-GRADUAÇÃO,1097159,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,380,Ciências sociais,FILOSOFIA
3,9405504,H004983,2017-01-31 07:31:36.786,2017-01-02 08:46:42.991,2017-02-22 16:10:28,20161011168,ALUNO DE PÓS-GRADUAÇÃO,132715,Acervo Circulante,Biblioteca Setorial do Centro de Ciências Huma...,REGULAR,635,Ciências aplicadas,FILOSOFIA
4,9405508,H011333,2017-01-31 07:31:36.658,2017-01-02 08:46:43.400,2017-02-22 16:10:40,20161011168,ALUNO DE PÓS-GRADUAÇÃO,180475,Acervo Circulante,Biblioteca Setorial do Centro de Ciências Huma...,REGULAR,632,Ciências aplicadas,FILOSOFIA

In [20]:
# selecionando apenas os alunos de graduação

df_grad = data[data['tipo_vinculo_usuario'] == 'ALUNO DE GRADUAÇÃO']
df_grad.head()

,id_emprestimo,codigo_barras,data_renovacao,data_emprestimo,data_devolucao,matricula_ou_siape,tipo_vinculo_usuario,id_exemplar,colecao,biblioteca,status_material,localizacao,classificacao_cdu,curso
0,9405484,2011010806,2017-01-13 07:22:40.736,2017-01-02 08:01:14.113,2017-01-30 07:05:05,2014035816,ALUNO DE GRADUAÇÃO,915480,Acervo Circulante,Biblioteca Setorial Profª. Maria José Mamede G...,REGULAR,689,Ciências aplicadas,ENGENHARIA CIVIL
18,9405564,L195470,2017-01-17 16:03:38.760,2017-01-02 10:12:01.462,2017-01-27 16:37:55,2014036205,ALUNO DE GRADUAÇÃO,168135,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,679,Ciências aplicadas,BIOMEDICINA
19,9405568,2015008037,2017-01-17 16:03:38.705,2017-01-02 10:12:01.529,2017-01-27 16:37:59,2014036205,ALUNO DE GRADUAÇÃO,1179312,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,566,Matemática e ciências naturais,BIOMEDICINA
26,9405596,2009041801,NaT,2017-01-02 10:21:42.118,2017-01-24 12:16:56,2013042932,ALUNO DE GRADUAÇÃO,276766,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,634,Ciências aplicadas,CIÊNCIAS SOCIAIS
27,9405600,2009041801A,NaT,2017-01-02 10:21:42.162,2017-01-24 12:16:51,2013042932,ALUNO DE GRADUAÇÃO,276767,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,610,Ciências aplicadas,CIÊNCIAS SOCIAIS

In [21]:
# selecionando as colunas relevantes para a análise final
df_grad = df_grad[['id_emprestimo', 'curso', 'data_emprestimo']]
df_grad.head()

    id_emprestimo             curso         data_emprestimo
0         9405484  ENGENHARIA CIVIL 2017-01-02 08:01:14.113
18        9405564       BIOMEDICINA 2017-01-02 10:12:01.462
19        9405568       BIOMEDICINA 2017-01-02 10:12:01.529
26        9405596  CIÊNCIAS SOCIAIS 2017-01-02 10:21:42.118
27        9405600  CIÊNCIAS SOCIAIS 2017-01-02 10:21:42.162

In [22]:
# transformando a coluna data_emprestimo para valores em ano

df_grad['data_emprestimo'] = pd.to_datetime(df_grad['data_emprestimo']).dt.year
df_grad

         id_emprestimo                     curso  data_emprestimo
0              9405484          ENGENHARIA CIVIL             2017
18             9405564               BIOMEDICINA             2017
19             9405568               BIOMEDICINA             2017
26             9405596          CIÊNCIAS SOCIAIS             2017
27             9405600          CIÊNCIAS SOCIAIS             2017
...                ...                       ...              ...
2072522         799095          CIÊNCIAS SOCIAIS             2010
2072523         799096          CIÊNCIAS SOCIAIS             2010
2072524         799097                   DIREITO             2010
2072525         799098  ENGENHARIA DA COMPUTAÇÃO             2010
2072526         799099  ENGENHARIA DA COMPUTAÇÃO             2010

[1612329 rows x 3 columns]

In [23]:
# selecionando os cursos e o período a serem avaliados

df_grad = df_grad.query("""curso == ['BIBLIOTECONOMIA', 'CIÊNCIAS SOCIAIS', 'COMUNICAÇÃO SOCIAL', 'DIREITO', 'FILOSOFIA', 'PEDAGOGIA'] & (data_emprestimo >= 2015) """)

df_grad.head()

    id_emprestimo             curso  data_emprestimo
26        9405596  CIÊNCIAS SOCIAIS             2017
27        9405600  CIÊNCIAS SOCIAIS             2017
56        9405720  CIÊNCIAS SOCIAIS             2017
57        9405724  CIÊNCIAS SOCIAIS             2017
58        9405728  CIÊNCIAS SOCIAIS             2017

In [24]:
# agrupando a quantidade de empréstimos por curso e ano

df_grad = df_grad.groupby(['curso', 'data_emprestimo'])['id_emprestimo'].count().reset_index()
df_grad.rename(columns={'id_emprestimo':'quantidade_emprestimos'}, inplace=True)
df_grad

                 curso  data_emprestimo  quantidade_emprestimos
0      BIBLIOTECONOMIA             2015                    7784
1      BIBLIOTECONOMIA             2016                    7044
2      BIBLIOTECONOMIA             2017                    7307
3      BIBLIOTECONOMIA             2018                    6378
4      BIBLIOTECONOMIA             2019                    5889
5      BIBLIOTECONOMIA             2020                     900
6     CIÊNCIAS SOCIAIS             2015                    7489
7     CIÊNCIAS SOCIAIS             2016                    6978
8     CIÊNCIAS SOCIAIS             2017                    6918
9     CIÊNCIAS SOCIAIS             2018                    6181
10    CIÊNCIAS SOCIAIS             2019                    5788
11    CIÊNCIAS SOCIAIS             2020                     825
12  COMUNICAÇÃO SOCIAL             2015                    7147
13  COMUNICAÇÃO SOCIAL             2016                    7973
14  COMUNICAÇÃO SOCIAL             2017                    8253
15  COMUNICAÇÃO SOCIAL             2018                    6953
16  COMUNICAÇÃO SOCIAL             2019                    5885
17  COMUNICAÇÃO SOCIAL             2020                     796
18             DIREITO             2015                    7665
19             DIREITO             2016                    7363
20             DIREITO             2017                    7885
21             DIREITO             2018                    7027
22             DIREITO             2019                    5861
23             DIREITO             2020                     905
24           FILOSOFIA             2015                    6950
25           FILOSOFIA             2016                    7576
26           FILOSOFIA             2017                    7389
27           FILOSOFIA             2018                    6296
28           FILOSOFIA             2019                    5572
29           FILOSOFIA             2020                     832
30           PEDAGOGIA             2015                    7189
31           PEDAGOGIA             2016                    7153
32           PEDAGOGIA             2017                    7434
33           PEDAGOGIA             2018                    6518
34           PEDAGOGIA             2019                    5869
35           PEDAGOGIA             2020                     866

In [25]:
# pivotando a tabela para melhor visualização dos dados

df_pivot = df_grad.pivot_table(
    index='curso', 
    columns='data_emprestimo', 
    values='quantidade_emprestimos',
    #fill_value='-',
    aggfunc='sum',
    margins=True,
    margins_name='Total')
df_pivot

data_emprestimo      2015   2016   2017   2018   2019  2020   Total
curso
BIBLIOTECONOMIA      7784   7044   7307   6378   5889   900   35302
CIÊNCIAS SOCIAIS     7489   6978   6918   6181   5788   825   34179
COMUNICAÇÃO SOCIAL   7147   7973   8253   6953   5885   796   37007
DIREITO              7665   7363   7885   7027   5861   905   36706
FILOSOFIA            6950   7576   7389   6296   5572   832   34615
PEDAGOGIA            7189   7153   7434   6518   5869   866   35029
Total               44224  44087  45186  39353  34864  5124  212838